{% extends '_base.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static "Accounts/css/sign_up.css" %}">
{% endblock %}
{% block title %}Login{% endblock %}

{% block content %}
    <form class="modal-content" action="" method="post">
        {% csrf_token %}
    <div class="container">
      <h1>Sign In</h1>
      <hr>
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
        {% if error %}
        <p style="color: #ff0000">{{ error }}</p>
        {% endif %}
      <div class="clearfix">
        <a href="{% url "sign_up" %}" class="button2">Create Account</a>
        <button type="submit" >Sign In</button>
      </div>
    </div>
  </form>
{% endblock %}